:root {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8f0e5;
  color: #3f2305;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}